node_modules
vendor
.git
.env.local
.env.*.local
storage/logs
storage/framework/sessions
storage/framework/views
storage/framework/cache
bootstrap/cache
tests
.phpunit.cache
*.log
.DS_Store
.vscode
.idea
node_modules
npm-debug.log
